{% set title = 'Layout Default' %}
{% set filename = 'layout-default.html' %}

{% extends 'layouts/auth.html' %}
{% block content %}
<div class="auth">
    <div class="auth-left">
        <div class="auth-title">
            <h4 class="card-title" style="text-align: center">Вы не робот?</h4>
        </div>

        <div class="captcha">
            <div class="row">
                    <div class="col-md-12">
                        <form action="/cap" method="post">
                        <div class="form-group" style="margin:0 auto; width:100%;">
                            <img style="display:block; text-align: center; margin: 0 auto;" width="{{ width }}" height="{{ height }}" src="{{ image }}" id="basicInput2" />
                        </div>
                        <div class="form-group" style="width: 100%; ">
                            {% if msg %}
                            <label style="text-align: center;display: block;" for="">{{ msg }}. Введите символы с изображения</label>
                            {% else %}
                            <label style="text-align: center;display: block;" for="">Введите символы с изображения</label>
                            {% endif %}

                            <input style="width:20%; margin:auto;" name="inputvalue" type="text" class="form-control" id="captchainput" placeholder="символы на изображении">
                            <input style="text-align: center" name="captchavalue" type="hidden" class="form-control" id="" value="{{ value }}">
                            <button style="text-align: center; display: block; margin: 0 auto; width: 20%;" type="submit" class="btn btn-primary btn-block btn-lg shadow-lg" id="captchabtn">Подтвердить</button>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}